body{
    margin: 0;
    font-family: roboto, sans-serif;
   
}
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}
a {
    text-decoration: none;
    color: white;
}

/* The header of the landing page*/

.header {
    background-color: #1F2937;
    color: white;
    margin: 0;
    padding: 16px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.header-left {
   font-weight: bold;
} 

/*The first section of the landing page*/

.hero {
    background-color: #1F2937;
    margin: 0;
    padding:  50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image1 {
    max-width: 350px;
    max-height: auto;
    border-width: 20px;
}
.title {
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
}
.subtext {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6; 
    border: none;
    padding: 8px;
    text-align: center; 
    font-size: 17px;
}

/* Section 2, that contains Random information*/
.info {
    background-color: white;
}
.heading2 {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
    text-align: center;
    padding-top: 20px;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    padding: 50px 150px;
}

.image {
    width: 150px;
    height: 100px;
    gap: 50px;
    border-radius: 18px;
    
}
.item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
   
}
.text {
    color: #1F2937;
    font-size: 15px;
    text-align: center;
    
}
/*Section 3; Quote*/
.quote {
    background-color: #E5E7EB;
    padding: 50px 230px;
}
.words {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    text-align: center;
}
.author {
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    padding-top: 37px;
}

/*Section 4; Call to Action*/
.signup {
    background-color: green;
}

/* lastly footer*/
.footer {
    background-color: #1F2937;
}


